  p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
background-color: #DBA79C;


  
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}


#Contenedor1{

 
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: #DBA79C;
}


#Contenedor2{

  
  height: 80%;
  width: 50%;
  float: right;
  text-align: center;
  background-color: #DBA79C;
}


#Contenedor3{
  border: 0px solid greenyellow;
  height: 80%;
  width: 49%;
  text-align: center;
  background-color: #DBA79C;
  
}

#img1{
  height: 20%;
  width: 20%;
}